Source: rosrepo
Section: python
Priority: extra
Maintainer: Timo Röhling <timo.roehling@fkie.fraunhofer.de>
Build-Depends: debhelper (>= 9), help2man, dh-python,
        python-all, python-setuptools, python-nose,
        python3-all, python3-setuptools, python3-nose,
        python-mock, python3-mock,
        python-catkin-tools, git (>= 1:1.7.5),
        python-catkin-pkg-modules, python-dateutil,
        python-pygit2, python-requests, python-scandir, python-yaml,
        python3-catkin-pkg-modules, python3-dateutil,
        python3-pygit2, python3-requests, python3-scandir, python3-yaml
Homepage: https://gitlab.fkie.fraunhofer.de/timo.roehling/rosrepo
X-Python-Version: >= 2.7
X-Python3-Version: >= 3.2
Standards-Version: 3.9.7

Package: python-rosrepo
Architecture: all
Depends: ${python:Depends}, ${misc:Depends},
    git (>= 1:1.7.5)
Recommends: git-cola, meld
Conflicts: python3-rosrepo
Description: Manage ROS workspaces with multiple Gitlab repositories
 rosrepo is the standard tool for ROS workspace management in Fraunhofer
 FKIE with a number of nice features:
  - More comfortable management of package builds and dependencies
  - Mark packages as pinned so they will always be built
  - Clone, push, and pull from Gitlab repositories
  - Automatically clone Gitlab projects to satisfy package dependencies

Package: python3-rosrepo
Architecture: all
Conflicts: python-rosrepo
Depends: ${python3:Depends}, ${misc:Depends},
    git (>= 1:1.7.5)
Recommends: git-cola, meld
Description: Manage ROS workspaces with multiple Gitlab repositories
 rosrepo is the standard tool for ROS workspace management in Fraunhofer
 FKIE with a number of nice features:
  - More comfortable management of package builds and dependencies
  - Mark packages as pinned so they will always be built
  - Clone, push, and pull from Gitlab repositories
  - Automatically clone Gitlab projects to satisfy package dependencies

