Source: rosrepo
Section: devel
Priority: extra
Maintainer: Timo Röhling <timo.roehling@fkie.fraunhofer.de>
Build-Depends: debhelper (>= 8.0.0), python
X-Python-Version: >= 2.6
Standards-Version: 3.9.4

Package: python-rosrepo
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-catkin-pkg, cmake (>= 2.8.3)
Description: Repository management tool for catkin workspaces
 Only build those packages you actually need from the repository

