#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

include /usr/share/dpkg/pkg-info.mk

actual_version:=$(shell cd src; PYTHONPATH=. python -c 'from rosrepo import __version__; print(__version__)' 2>&1)
debianized_version:=$(subst a,~a,$(subst b,~b,$(actual_version)))

ifneq ($(DEB_VERSION_UPSTREAM),$(debianized_version))
$(error Package version $(DEB_VERSION_UPSTREAM) does not match actual version $(debianized_version))
endif

export PYBUILD_NAME=rosrepo
export PYBUILD_DISABLE=test

%:
	dh $@ --with python2,python3 --buildsystem=pybuild

override_dh_auto_install:
	dh_auto_install -O--buildsystem=pybuild
	mkdir -p debian/extra
	help2man ./rosrepo.py --no-discard-stderr -n "manage ROS workspaces" | sed -e 's/\(rosrepo\)\.py/\1/gi' > debian/extra/rosrepo.1

make-orig-tar:
	git config tar.tar.xz.command "xz -c"
	git archive --prefix=rosrepo-$(actual_version)/ -o ../rosrepo_$(debianized_version).orig.tar.xz $(shell git merge-base debian-ppa master )

